<div class="font-starwars-2 lsp-1 text-center mx-auto text-adapt">
    <h3 class="d-inline">The brand new</h3> <h3 class="font-starwars d-inline mx-3">Star Wars</h3><h3 class="d-inline">Wiki is here</h3><br>
    <p class="mt-5">Here, users can find a lot of interesting details about their favourite characters from the saga</p>
    <p>There are 87 characters in total, 37 starships, 37 species from 61 different planets, from all of the seven films!</p>
    <p>Come on! What are you waiting for? I invite you to get lost in this page NOW</p>
    <p class="mt-5">Click on the button below to keep going</p>
    <a href="/characters" class="fadein py-4 px-5 btn border btn-custom text-white my-4">Take me inside!</a>
</div>