<a href="/characters/{{ getCharacterId() }}">
    <div class="text-truncate">
        <span class="lsp-1 text-white">{{text}}</span>
    </div>
    <div>
        <img src="{{ genderImg }}" class="my-3 img-yellow" width=30%>
    </div>
    <div>
        <span class="lsp-1 d-block">{{ hairColor | simplifyHair }}</span>
        <span class="lsp-1 d-block">{{ date | date:"dd/MM/yyyy" }}</span>
    </div>
</a>