<div class="font-starwars-2 lsp-1 text-center mx-auto text-adapt">
    <h1 class="font-starwars d-inline mx-3">404 Error</h1><br>
    <p class="mt-5">Oops! It seems like you really got lost, for real.</p>
    <p>We suggest you to take that warp right below and go to a safe zone.</p>
    <a href="/home" class="fadein py-4 px-5 btn border btn-custom text-white my-4">Take me back to home</a>
</div>