<div class="position-absolute no-gaps h-100 w-100 text-white">
    <div class="container-fluid p-0 h-100 w-100">

        <!-- TITLE HEADER -->
        <div class="text-center display-flex py-5">
            <h1 class="align-center font-starwars" id="title">Star Wars</h1>
            <span class="font-starwars-2 lsp-15">The unofficial Star Wars Wiki</span>
        </div>

        <!-- VIEW SWITCHING DEPENDING ON ROUTE -->
        <router-outlet></router-outlet>
    </div>
</div>