<div class="row no-gutters font-starwars-2 lsp-1">
    <div class="col-sm-2 border-right text-right font-starwars-2 lsp-3 menu-adapt">

        <!-- AS IT SAYS, IT SETS UP THE HAMBURGUER BUTTON FOR THE MENU -->
        <hamburgerbutton class="w-100 display-block text-yellow btn-custom p-3 hamburguer-display"
            (click)="hamburgerButton.onClick()" text="
                          <span class='mx-1'>Menu</span><i class='large material-icons align-middle'>menu</i>
                    ">
        </hamburgerbutton>

        <!-- ITEMS TO SHOW/HIDE IN MOBILE MODE -->
        <div *ngIf="(hamburgerButton.visible && hamburgerButton.expanded) || !hamburgerButton.visible">
            <div class="w-100 display-block btn-custom">
                <a class="p-3 w-100 h-100" href="/home">Home</a>
            </div>
            <div class="w-100 display-block btn-custom">
                <a class="p-3 w-100 h-100" href="javascript: history.go(-1)">Back</a>
            </div>
        </div>

    </div>
    <div class="col-sm-8 min-height-500">
        <!-- THE CHARACTER DETAILS -->
        <div class="p-5 display-flex">
            <h3>{{ response.name }}</h3>
            <span class="d-block">Hair: {{ response.hair_color | simplifyHair }}</span>
            <span class="d-block">Height: {{ response.height }} cm</span>
            <span class="d-block">Mass: {{ response.mass }} kg</span>
            <span class="d-block">Skin: {{ response.skin_color }}</span>
            <span class="d-block">Eyes: {{ response.eye_color }}</span>
        </div>

    </div>
    <div class="col-sm-2"></div>
</div>