<div class="row no-gutters font-starwars-2 lsp-1">
    <div class="col-sm-2 border-right text-right font-starwars-2 lsp-3 menu-adapt">

        <!-- AS IT SAYS, IT SETS UP THE HAMBURGUER BUTTON FOR THE MENU -->
        <hamburgerbutton class="w-100 display-block text-yellow btn-custom p-3 hamburguer-display"
            (click)="hamburgerButton.onClick()" text="
                  <span class='mx-1'>Menu</span><i class='large material-icons align-middle'>menu</i>
            ">
        </hamburgerbutton>

        <!-- ITEMS TO SHOW/HIDE IN MOBILE MODE -->
        <div *ngIf="(hamburgerButton.visible && hamburgerButton.expanded) || !hamburgerButton.visible">
            <div class="w-100 display-block btn-custom">
                <a class="p-3 w-100 h-100" href="/home">Home</a>
            </div>
            <a *ngIf="response.next != null" class="p-3 w-100 btn-custom" (click)="ifNext()">Next
                page</a>
            <a *ngIf="response.previous != null" class="p-3 w-100 btn-custom" (click)="ifPrevious()">Previous page</a>
        </div>

    </div>

    <div class="col-sm-10">
        <!-- CURRENT PAGE. IT CALCULATES THE AMOUNT OF PAGES DEPENDING ON THE API's count RESPONSE (THE WHOLE AMOUNT OF CHARACTERS) -->
        <div class="pt-5 px-5 text-adapt">
            <span>Page: {{ getCurrentPage() }} / {{ response.count / maxPerPage | roundNumber }}</span>
        </div>
        <!-- WRAPPER FOR CHARACTER CARDS (CHARACTER TRAY) -->
        <div class="text-center py-3" id="charcardWrapper">
            <charcard class="fadein btn btn-custom border border-white m-3 font-starwars-2 py-2 card-shrink"
                text="{{response.name}}" url="{{response.url}}" width="200" height="200" date="{{response.created}}"
                gender="{{response.gender}}" hairColor="{{response.hair_color}}"
                *ngFor="let response of response.results">
            </charcard>
        </div>
    </div>
</div>