@font-face {
    font-family: 'starwars';
    src: url("assets/font/starjedi.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'theboldfont';
    src: url("assets/font/theboldfont.ttf");
    font-weight: normal;
    font-style: normal;
}