.no-gaps {
    position: relative;
    top: 0px;
    left: 0px;
}

.full-height {
    height: 100vh;
}

.font-starwars {
    font-family: 'starwars';
    color: black;
    text-shadow: -1px 0 #ffd900, 0 1px #ffd900, 1px 0 #ffd900, 0 -1px #ffd900;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#title {
    font-size: 80px;
}

.font-starwars-2 {
    font-family: 'theboldfont';
    color: white;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.lsp-1 {
    letter-spacing: 1px;
}

.lsp-3 {
    letter-spacing: 3px;
}

.lsp-15 {
    letter-spacing: 15px;
}

.bg-black {
    background-color: black !important;
}

.btn-custom:hover {
    cursor: pointer;
    background-color: #24242496;
    color: white;
    transition: background-color 500ms ease;
}

#bg-stars {
    background-image: url('assets/background/bg-stars.jpg');
    background-size: cover;
}

a {
    display: block;
    color: #ffd900;
}

.text-yellow {
    color: #ffd900;
}

a:hover {
    color: white;
    text-decoration: none;
}

.hair-icon {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 80%;
    top: 80%;
}

.min-height-500 {
    min-height: 500px;
}

#charcardWrapper {
    max-width: 1200px;
}

.hamburguer-display {
    visibility: hidden !important;
}

.fadein {
    -webkit-animation: fadein 1s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s;
    /* Firefox < 16 */
    -ms-animation: fadein 1s;
    /* Internet Explorer */
    -o-animation: fadein 1s;
    /* Opera < 12.1 */
    animation: fadein 1s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media screen and (max-width: 600px) {
    .hamburguer-display {
        visibility: visible !important;
        border-width: .5px;
        border-bottom: 1px solid;
    }
    .menu-adapt {
        text-align: center !important;
        border: none !important;
    }
    .card-shrink {
        width: 30% !important;
        height: 120px !important;
        font-size: 10px !important;
    }
    .hair-icon {
        width: 30% !important;
        height: 30% !important;
        position: absolute;
        left: 80%;
        top: 80%;
    }
    .text-adapt {
        padding-left: 3%;
        padding-right: 3%;
        font-size: .7em;
        text-align: center;
    }
}